
*{
    margin: 0;
    padding: 0;
  }
  .maincontainer{
    position: absolute;
    background: #09111b;
    width: 100%;
   left: 0;
   top: 0;
  }
  .name{
    margin-left: 70px;
    width: 500px;
    padding: 20px;
  
  
    font-family: 'Times New Roman', Times, serif;
  }
  .name a{
    text-decoration: none;
    color:#fed287;
  
  }
  
  .nav{
  
    z-index: 1;
    
    display: flex;
    align-items: center;
    gap: 32vw;
    font-size: 60px;
    font-weight: 500;
    
  }
  
  .abc button{
    padding: 10px 25px;
    border-radius: 40px;
    text-decoration: none;
    border: none;
    background: #00000000;
    font-size: 30px;
    color: white;
  }
  .abc button:hover{
    background: #70707090;
    transform: scale(1.05);
    transition: transform 1s;
    color:#fed287;
  
  
  }
  .abc {
    display: flex;
    gap: 2vw;
  }


body{
    background: #ffffff;
    transition: all 2s ease;

}

.bigcont{
    position: absolute;
    top: 125px;
}
.cont{
    display: flex;
    position: relative;
    top: 0;
    font-size: 80px;
    z-index: 5;
    position: relative;
    top: 0;

}


input[id="gender"]{
    position: relative;
    left: 35%;

    width: 20vw;
    height: 5vw;
    border-radius: 40px; 
    background: #c6c6c6;
    appearance: none;
    box-shadow: inset 0 0 5px rgba(0,0,0,.2);
    transition: all 0.5s;

}
input:checked[id="gender"]{
    
    background: #c6c6c6;
    transition: all 0.5s;
    z-index: 2;
    


}
input[id="gender"]:before{
    
    content: 'MALE';


    display: flex;
    border: 3px solid rgb(102, 69, 6);

    justify-content: center;
    align-items: center;


    font-size: 30px;
    position: absolute;
    top: 0; 
    left: 0;
    width: 10vw;
    height: 5vw;
    border-radius: 40px;
    color: white;
    

    background: #0b1763;
    /* background: #25baff; */
    text-shadow: 1px 1px 4px black;
    transition:all 1s ease;
    z-index: 9;

    
}

input[id="gender"]::after{
    
    content: 'MALE \00a0 \00a0 \00a0\00a0\00a0 \00a0 \00a0 FEMALE';

    z-index: 2;
    display: flex;

    justify-content: center;
    align-items: center;


    font-size: 30px;
    position: absolute;
    top: 0; 
    left: 0;
    width: 20vw;
    height: 5vw;
    border-radius: 40px;
    color: white;
    

    background: #cd8af1;
    /* background: #25baff; */
    text-shadow: 1px 1px 4px black;
    transition:all 1s ease;

    
}
input[id="gender"]:checked::after{
    
    content: 'MALE \00a0 \00a0 \00a0\00a0\00a0 \00a0 \00a0 FEMALE';

    z-index: 2;
    display: flex;

    justify-content: center;
    align-items: center;


    font-size: 30px;
    position: absolute;
    top: 0; 
    left: 0;
    width: 20vw;
    height: 5vw;
    border-radius: 40px;
    color: white;
    

    background:#7d8eff ;
    /* background: #25baff; */
    text-shadow: 1px 1px 4px black;
    transition:all 1s ease;

    
}
input:checked[id="gender"]:before{
    
    content: 'FEMALE';
    position: absolute;
    color: white;
    top: 0; 
    left: 0;
    width: 10vw;
    height: 5vw;
    transform: translateX(10vw) ;
    border-radius: 40px;
    background: #b124b3;
    border: 3px solid rgb(6, 4, 57);
    transition:all 1s ease;
    
}

.boxcont{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
    width: 98vw;
}
.box{
    transition: color 2s ease,background-image 2s ease;
    padding: 20px;
    border: 2px solid black;
    width: 90vw;
    border-radius: 40px;
    box-shadow: 2px 2px 20px black;
    background-image: linear-gradient(55deg, rgba(208, 208, 208, 0.03) 0%, rgba(208, 208, 208, 0.03) 20%,rgba(55, 55, 55, 0.03) 20%, rgba(55, 55, 55, 0.03) 40%,rgba(81, 81, 81, 0.03) 40%, rgba(81, 81, 81, 0.03) 60%,rgba(208, 208, 208, 0.03) 60%, rgba(208, 208, 208, 0.03) 80%,rgba(191, 191, 191, 0.03) 80%, rgba(191, 191, 191, 0.03) 100%),linear-gradient(291deg, rgba(190, 190, 190, 0.02) 0%, rgba(190, 190, 190, 0.02) 14.286%,rgba(105, 105, 105, 0.02) 14.286%, rgba(105, 105, 105, 0.02) 28.572%,rgba(230, 230, 230, 0.02) 28.572%, rgba(230, 230, 230, 0.02) 42.858%,rgba(216, 216, 216, 0.02) 42.858%, rgba(216, 216, 216, 0.02) 57.144%,rgba(181, 181, 181, 0.02) 57.144%, rgba(181, 181, 181, 0.02) 71.42999999999999%,rgba(129, 129, 129, 0.02) 71.43%, rgba(129, 129, 129, 0.02) 85.71600000000001%,rgba(75, 75, 75, 0.02) 85.716%, rgba(75, 75, 75, 0.02) 100.002%),linear-gradient(32deg, rgba(212, 212, 212, 0.03) 0%, rgba(212, 212, 212, 0.03) 12.5%,rgba(223, 223, 223, 0.03) 12.5%, rgba(223, 223, 223, 0.03) 25%,rgba(11, 11, 11, 0.03) 25%, rgba(11, 11, 11, 0.03) 37.5%,rgba(86, 86, 86, 0.03) 37.5%, rgba(86, 86, 86, 0.03) 50%,rgba(106, 106, 106, 0.03) 50%, rgba(106, 106, 106, 0.03) 62.5%,rgba(220, 220, 220, 0.03) 62.5%, rgba(220, 220, 220, 0.03) 75%,rgba(91, 91, 91, 0.03) 75%, rgba(91, 91, 91, 0.03) 87.5%,rgba(216, 216, 216, 0.03) 87.5%, rgba(216, 216, 216, 0.03) 100%),linear-gradient(312deg, rgba(113, 113, 113, 0.01) 0%, rgba(113, 113, 113, 0.01) 14.286%,rgba(54, 54, 54, 0.01) 14.286%, rgba(54, 54, 54, 0.01) 28.572%,rgba(166, 166, 166, 0.01) 28.572%, rgba(166, 166, 166, 0.01) 42.858%,rgba(226, 226, 226, 0.01) 42.858%, rgba(226, 226, 226, 0.01) 57.144%,rgba(109, 109, 109, 0.01) 57.144%, rgba(109, 109, 109, 0.01) 71.42999999999999%,rgba(239, 239, 239, 0.01) 71.43%, rgba(239, 239, 239, 0.01) 85.71600000000001%,rgba(54, 54, 54, 0.01) 85.716%, rgba(54, 54, 54, 0.01) 100.002%),linear-gradient(22deg, rgba(77, 77, 77, 0.03) 0%, rgba(77, 77, 77, 0.03) 20%,rgba(235, 235, 235, 0.03) 20%, rgba(235, 235, 235, 0.03) 40%,rgba(215, 215, 215, 0.03) 40%, rgba(215, 215, 215, 0.03) 60%,rgba(181, 181, 181, 0.03) 60%, rgba(181, 181, 181, 0.03) 80%,rgba(193, 193, 193, 0.03) 80%, rgba(193, 193, 193, 0.03) 100%),linear-gradient(80deg, rgba(139, 139, 139, 0.02) 0%, rgba(139, 139, 139, 0.02) 14.286%,rgba(114, 114, 114, 0.02) 14.286%, rgba(114, 114, 114, 0.02) 28.572%,rgba(240, 240, 240, 0.02) 28.572%, rgba(240, 240, 240, 0.02) 42.858%,rgba(221, 221, 221, 0.02) 42.858%, rgba(221, 221, 221, 0.02) 57.144%,rgba(74, 74, 74, 0.02) 57.144%, rgba(74, 74, 74, 0.02) 71.42999999999999%,rgba(201, 201, 201, 0.02) 71.43%, rgba(201, 201, 201, 0.02) 85.71600000000001%,rgba(187, 187, 187, 0.02) 85.716%, rgba(187, 187, 187, 0.02) 100.002%),linear-gradient(257deg, rgba(72, 72, 72, 0.03) 0%, rgba(72, 72, 72, 0.03) 16.667%,rgba(138, 138, 138, 0.03) 16.667%, rgba(138, 138, 138, 0.03) 33.334%,rgba(54, 54, 54, 0.03) 33.334%, rgba(54, 54, 54, 0.03) 50.001000000000005%,rgba(161, 161, 161, 0.03) 50.001%, rgba(161, 161, 161, 0.03) 66.668%,rgba(17, 17, 17, 0.03) 66.668%, rgba(17, 17, 17, 0.03) 83.33500000000001%,rgba(230, 230, 230, 0.03) 83.335%, rgba(230, 230, 230, 0.03) 100.002%),linear-gradient(47deg, rgba(191, 191, 191, 0.01) 0%, rgba(191, 191, 191, 0.01) 16.667%,rgba(27, 27, 27, 0.01) 16.667%, rgba(27, 27, 27, 0.01) 33.334%,rgba(66, 66, 66, 0.01) 33.334%, rgba(66, 66, 66, 0.01) 50.001000000000005%,rgba(36, 36, 36, 0.01) 50.001%, rgba(36, 36, 36, 0.01) 66.668%,rgba(230, 230, 230, 0.01) 66.668%, rgba(230, 230, 230, 0.01) 83.33500000000001%,rgba(93, 93, 93, 0.01) 83.335%, rgba(93, 93, 93, 0.01) 100.002%),linear-gradient(90deg, #ffffff,#ffffff);
    font-size: 36px;
}

.h{
    font-size: 80px;
    font-weight: 700;
    padding: 20px 18px 40px 20px;
}


.bu{
    padding: 20px;
}
.bu:before{
    content: "• ";


}

/* Light MODE BUTTON */


.butcont{
    /* display: flex;
    justify-content: end; */
    position:absolute;
    top: 0;
    right: 0;

}


input[id="modebutton"]{
    position: relative;

    width: 120px;
    height: 60px;
    border-radius: 40px; 
    background: #c6c6c6;
    appearance: none;
    box-shadow: inset 0 0 5px rgba(0,0,0,.2);
    transition: all 0.5s;

}
input:checked[id="modebutton"]{
    
    background: #c6c6c6;
    transition: all 0.5s;
    


}




input[id="modebutton"]:before{
    content: image-set(url('moon.png') 2x) ;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* background-image: ; */
    /* background-size: 600px 600px; */
    
    position: absolute;
    top: 0; 
    left: 0;
    width: 60px;
    height: 60px;
    transform: scale(1.1) ;
    border-radius: 50%;
    background: #000000;
    transition:all 1s ease;

    
}
input:checked[id="modebutton"]:before{
    
   
    content: image-set(url('sun.png') 2x) ;

    position: absolute;
    top: 0; 
    left: 0;
    width: 60px;
    height: 60px;
    transform: translateX(60px) scale(1.1);
    border-radius: 50%;
    background: #fffefe;
    transition:all 1s ease;
    box-shadow:  0 0 5px rgba(0,0,0,.2);

    
}


@media screen  and (max-width:1024px){



    .maincontainer{
        position: absolute;
       left: 0;
       top: 0;
    }
    .name{
        margin-left: 70px;
        width: 500px;
        padding: 20px;
    
    
        font-family: 'Times New Roman', Times, serif;
    }
    .name a{
        text-decoration: none;
        color:#fed287;
    
    }
    
    .nav{
    
        z-index: 1;
    
        display: flex;
        align-items: center;
        gap:10vw;
        font-size: 20px;
        font-weight: 500;
        
    }
    
    .abc button{
        padding: 10px 25px;
        border-radius: 40px;
        text-decoration: none;
        border: none;
        background: #00000000;
        font-size: 10px;
        color: white;
    }
    .abc button:hover{
        background: #70707090;
        transform: scale(1.05);
        transition: transform 1s;
        color:#fed287;
    
    
    }
    .abc {
        display: flex;
        gap: 2vw;
    }

    body{
        background: #ffffff;
        transition: all 2s ease;
    }
    
    .bigcont{
        position: absolute;
        top: 125px;
    }
    
    .cont{
        display: flex;
        position: relative;
        font-size:5px;
        position: relative;
    
    }
    
    
    input[id="gender"]{
        
        position: relative;
        left: 35%;
        
    
        width: 20vw;
        height: 5vw;
        border-radius: 40px; 
        background: #c6c6c6;
        appearance: none;
        box-shadow: inset 0 0 5px rgba(0,0,0,.2);
        transition: all 0.5s;
    
    }
    input:checked[id="gender"]{
        
        background: #c6c6c6;
        transition: all 0.5s;
        z-index: 2;
        
    
    
    }
    input[id="gender"]:before{
        
        content: 'MALE';
    
    
        display: flex;
        border: 3px solid rgb(102, 69, 6);
    
        justify-content: center;
        align-items: center;
    
    
        font-size: 10px;
        position: absolute;
        top: -5px; 

        left: 0;
        width: 10vw;
        height: 5vw;
        border-radius: 40px;
        color: white;
        
    
        background: #0b1763;
        /* background: #25baff; */
        text-shadow: 1px 1px 4px black;
        transition:all 1s ease;
        z-index: 9;
    
        
    }
    
    input[id="gender"]::after{
    
        content: '';
    
        z-index: 2;
        display: flex;
    
        justify-content: center;
        align-items: center;
    
    
        font-size: 30px;
        position: absolute;
        top: -3px; 

        left: 0;
        width: 20vw;
        height: 5vw;
        border-radius: 40px;
        color: white;
        
    
        background: #cd8af1;
        /* background: #25baff; */
        text-shadow: 1px 1px 4px black;
        transition:all 1s ease;
    
        
    }
    input[id="gender"]:checked::after{
        
        content: '';
    
        z-index: 2;
        display: flex;
    
        justify-content: center;
        align-items: center;
    
    
        font-size: 30px;
        position: absolute;
        top: -3px; 

        left: 0;
        width: 20vw;
        height: 5vw;
        border-radius: 40px;
        color: white;
        
    
        background:#7d8eff ;
        /* background: #25baff; */
        text-shadow: 1px 1px 4px black;
        transition:all 1s ease;
    
        
    }
    input:checked[id="gender"]:before{
        
        content: 'FEMALE';
        position: absolute;
        color: white;
        top: -5px; 

        left: 0;
        width: 10vw;
        font-size: 8px;
        height: 5vw;
        transform: translateX(10vw) ;
        border-radius: 40px;
        background: #b124b3;
        border: 3px solid rgb(6, 4, 57);
        transition:all 1s ease;
        
    }
    
    .boxcont{
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 2px solid black; */
        width: 98vw;
    }
    .box{
        transition: color 1s ease,background-image 2s ease;
        color: white;
        padding: 20px;
        border: 2px solid black;
        width: 90vw;
        border-radius: 40px;
        box-shadow: 2px 2px 20px black;
        font-size: 20px;
        background-image: linear-gradient(216deg, rgba(77, 77, 77,0.05) 0%, rgba(77, 77, 77,0.05) 25%,rgba(42, 42, 42,0.05) 25%, rgba(42, 42, 42,0.05) 38%,rgba(223, 223, 223,0.05) 38%, rgba(223, 223, 223,0.05) 75%,rgba(36, 36, 36,0.05) 75%, rgba(36, 36, 36,0.05) 100%),linear-gradient(44deg, rgba(128, 128, 128,0.05) 0%, rgba(128, 128, 128,0.05) 34%,rgba(212, 212, 212,0.05) 34%, rgba(212, 212, 212,0.05) 57%,rgba(25, 25, 25,0.05) 57%, rgba(25, 25, 25,0.05) 89%,rgba(135, 135, 135,0.05) 89%, rgba(135, 135, 135,0.05) 100%),linear-gradient(241deg, rgba(55, 55, 55,0.05) 0%, rgba(55, 55, 55,0.05) 14%,rgba(209, 209, 209,0.05) 14%, rgba(209, 209, 209,0.05) 60%,rgba(245, 245, 245,0.05) 60%, rgba(245, 245, 245,0.05) 69%,rgba(164, 164, 164,0.05) 69%, rgba(164, 164, 164,0.05) 100%),linear-gradient(249deg, rgba(248, 248, 248,0.05) 0%, rgba(248, 248, 248,0.05) 32%,rgba(148, 148, 148,0.05) 32%, rgba(148, 148, 148,0.05) 35%,rgba(202, 202, 202,0.05) 35%, rgba(202, 202, 202,0.05) 51%,rgba(181, 181, 181,0.05) 51%, rgba(181, 181, 181,0.05) 100%),linear-gradient(92deg, hsl(214,0%,11%),hsl(214,0%,11%));
        
    
    }
    
    .h{
        font-size: 50px;
        font-weight: 700;
        padding: 20px 18px 40px 20px;
    }
    
    
    .bu{
        padding: 20px;
    }
    .bu:before{
        content: "• ";
        color: white;
    
    
    
    }
    
    
    /* Light MODE BUTTON */
    
    
    .butcont{
        /* display: flex;
        justify-content: end; */
        position:absolute;
        top: -10px;
        right:20px;
    
    }
    
    
    input[id="modebutton"]{
        position: relative;
    
        width: 60px;
        height: 30px;
        border-radius: 40px; 
        background: #c6c6c6;
        appearance: none;
        box-shadow: inset 0 0 5px rgba(0,0,0,.2);
        transition: all 0.5s;
    
    }
    input:checked[id="modebutton"]{
        
        background: #c6c6c6;
        transition: all 0.5s;
        
    
    
    }
    
    
    
    
    input[id="modebutton"]:before{
        content: image-set(url('moon.png') 5x) ;
        display: flex;
        justify-content: center;
        align-items: center;
        
        /* background-image: ; */
        /* background-size: 600px 600px; */
        
        position: absolute;
        top: 0; 
        left: 0;
        width: 30px;
        height: 30px;
        transform: scale(1.1) ;
        border-radius: 50%;
        background: #000000;
        transition:all 1s ease;
    
        
    }
    input:checked[id="modebutton"]:before{
        
       
        content: image-set(url('sun.png') 3x) ;
    
        position: absolute;
        top: 0; 
        left: 0;
        width: 30px;
        height: 30px;
        transform: translateX(60px) scale(1.1);
        border-radius: 50%;
        background: #fffefe;
        transition:all 1s ease;
        box-shadow:  0 0 5px rgba(0,0,0,.2);
    
        
    }
    




}