body{margin: 40px;
    /* background: #9e3663; */
    background: #0b0c35;
    /* background: #1f2839; */
    background-image: linear-gradient(216deg, rgba(77, 77, 77,0.05) 0%, rgba(77, 77, 77,0.05) 25%,rgba(42, 42, 42,0.05) 25%, rgba(42, 42, 42,0.05) 38%,rgba(223, 223, 223,0.05) 38%, rgba(223, 223, 223,0.05) 75%,rgba(36, 36, 36,0.05) 75%, rgba(36, 36, 36,0.05) 100%),linear-gradient(44deg, rgba(128, 128, 128,0.05) 0%, rgba(128, 128, 128,0.05) 34%,rgba(212, 212, 212,0.05) 34%, rgba(212, 212, 212,0.05) 57%,rgba(25, 25, 25,0.05) 57%, rgba(25, 25, 25,0.05) 89%,rgba(135, 135, 135,0.05) 89%, rgba(135, 135, 135,0.05) 100%),linear-gradient(241deg, rgba(55, 55, 55,0.05) 0%, rgba(55, 55, 55,0.05) 14%,rgba(209, 209, 209,0.05) 14%, rgba(209, 209, 209,0.05) 60%,rgba(245, 245, 245,0.05) 60%, rgba(245, 245, 245,0.05) 69%,rgba(164, 164, 164,0.05) 69%, rgba(164, 164, 164,0.05) 100%),linear-gradient(249deg, rgba(248, 248, 248,0.05) 0%, rgba(248, 248, 248,0.05) 32%,rgba(148, 148, 148,0.05) 32%, rgba(148, 148, 148,0.05) 35%,rgba(202, 202, 202,0.05) 35%, rgba(202, 202, 202,0.05) 51%,rgba(181, 181, 181,0.05) 51%, rgba(181, 181, 181,0.05) 100%),linear-gradient(92deg, hsl(214,0%,11%),hsl(214,0%,11%));
}

.con{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 10px;
    
}
.h{
    width: 98vw;
    text-align: start;
}
.con .h{

    font-size: 120px;
    color: #ffffff;
}
.boximg{
    margin: 40px;
    
    /* background:  #b69d74; */
    background:  #855913;
    border-radius: 40px;
    transform: scale(1);
    transition: all 0.5s ease-in-out;
    border: 2px solid rgb(255, 254, 254);
    width: 85vw;
    text-align: start;
    padding: 20px;

    box-shadow:-4px 0px 10px #000000;
    box-shadow:-4px 0px 10px #000000;
}

.boximg:hover {
        transform: scale(1.1);
        transition: all 0.5s ease-in-out;
        
        

}

.pname{
    color: rgb(255, 255, 255);
    font-size: 66px;
}


/* Light MODE BUTTON */


.butcont{
    /* display: flex;
    justify-content: end; */
    position:absolute;
    top: 0;
    right: 0;

}


input[id="modebutton"]{
    position: relative;

    width: 120px;
    height: 60px;
    border-radius: 40px; 
    background: #c6c6c6;
    appearance: none;
    box-shadow: inset 0 0 5px rgba(0,0,0,.2);
    transition: all 0.5s;

}
input:checked[id="modebutton"]{
    
    background: #c6c6c6;
    transition: all 0.5s;
    


}




input[id="modebutton"]:before{
    content: image-set(url('moon.png') 2x) ;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* background-image: ; */
    /* background-size: 600px 600px; */
    
    position: absolute;
    top: 0; 
    left: 0;
    width: 60px;
    height: 60px;
    transform: scale(1.1) ;
    border-radius: 50%;
    background: #000000;
    transition:all 1s ease;

    
}
input:checked[id="modebutton"]:before{
    
   
    content: image-set(url('sun.png') 2x) ;

    position: absolute;
    top: 0; 
    left: 0;
    width: 60px;
    height: 60px;
    transform: translateX(60px) scale(1.1);
    border-radius: 50%;
    background: #fffefe;
    transition:all 1s ease;
    box-shadow:  0 0 5px rgba(0,0,0,.2);

    
}