body    {margin: 40px;
    background: #000;
}

.con{
    display: flex;
    justify-content: space-around;
    padding: 10px;


}
.conlast{
    justify-content: start;

}
.lastimg{
    padding: 0px 60px;
}

.boximg{
    border-radius: 40px;
    transform: scale(1);
    transition: all 0.5s ease-in-out;
}

.boximg img{
    width: 25vw;
    height: 30vh;
    /* border: 2px solid black; */
    border-radius: 20px;
    
    box-shadow: 20px 20px 55px black;
}

.boximg .t{
    font-size: 25px;
    width: 23vw;
    position: relative;
    top: -40%;
    left: 20px;
    color: rgb(255, 255, 255);

    font-weight: 500;
    visibility: hidden;

}




.boximg:hover {
        transform: scale(1.1);
        transition: all 0.5s ease-in-out;
        
        

}

.boximg:hover .t{
        top: -50%;

        visibility:visible;
        transition:all 1.5s ease-in-out,color 0.5s ease;
        



}
.boximg:hover img{
        filter: brightness(0.25);
        border: 2px solid black;

}
.pname{
    font-size: 80px;
    color: white;
}

