body    {margin: 40px;
}

.con{
    display: flex;
    justify-content: space-around;
    padding: 10px;


}
.conlast{
    justify-content: start;

}
.lastimg{
    padding: 0px 60px;
}

.boximg{
    border-radius: 40px;
    transform: scale(1);
    transition: all 0.5s ease-in-out;
}

.boximg img{
    width: 25vw;
    height: 30vh;
    /* border: 2px solid black; */
    border-radius: 20px;
    
    box-shadow: 20px 20px 55px black;
}

.boximg .t{
    font-size: 25px;
    width: 23vw;
    position: relative;
    top: -30%;
    left: 20px;
    color: rgb(255, 255, 255);

    font-weight: 500;
    visibility: hidden;

}




.boximg:hover {
        transform: scale(1.1);
        transition: all 0.5s ease-in-out;
        
        

}

.boximg:hover .t{
        top: -50%;

        visibility:visible;
        transition:all 1.5s ease-in-out,color 0.5s ease;




}
.boximg:hover img{
        filter: brightness(0.25);
        border: 2px solid black;

}
.pname{
    font-size: 80px;
}


/* Light MODE BUTTON */


.butcont{
    /* display: flex;
    justify-content: end; */
    position:absolute;
    top: 0;
    right: 0;

}


input[id="modebutton"]{
    position: relative;

    width: 120px;
    height: 60px;
    border-radius: 40px; 
    background: #c6c6c6;
    appearance: none;
    box-shadow: inset 0 0 5px rgba(0,0,0,.2);
    transition: all 0.5s;

}
input:checked[id="modebutton"]{
    
    background: #c6c6c6;
    transition: all 0.5s;
    


}




input[id="modebutton"]:before{
    content: image-set(url('moon.png') 2x) ;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* background-image: ; */
    /* background-size: 600px 600px; */
    
    position: absolute;
    top: 0; 
    left: 0;
    width: 60px;
    height: 60px;
    transform: scale(1.1) ;
    border-radius: 50%;
    background: #000000;
    transition:all 1s ease;

    
}
input:checked[id="modebutton"]:before{
    
   
    content: image-set(url('sun.png') 2x) ;

    position: absolute;
    top: 0; 
    left: 0;
    width: 60px;
    height: 60px;
    transform: translateX(60px) scale(1.1);
    border-radius: 50%;
    background: #fffefe;
    transition:all 1s ease;
    box-shadow:  0 0 5px rgba(0,0,0,.2);

    
}
