.pages
    %input#one{:type => 'radio', :name => 'trigger'}
    %input#two{:type => 'radio', :name => 'trigger'}
    %input#three{:type => 'radio', :name => 'trigger'}
    %input#four{:type => 'radio', :name => 'trigger'}
    .pages_page
        .pages_page__inner
            .logo Fashion
            .pagenumber 1 2
            .content
                .content_center
                    %h4 The latest in fashion &amp; fashion design
    .pages_page
        
        .pages_page__inner

            .content
                .content_center.right
                    %h4 The latest in fashion &amp; fashion design
                .overlay
            .control.next
                %label{:for => 'two'}
    .pages_page
        .pages_page__inner
            .logo Fashion
            .pagenumber 2 3
            .control
                %label{:for => 'one'}
            .content
                .content_picture
                    %img{:src => 'https://i.pinimg.com/originals/1f/bc/f1/1fbcf1c55e839cd7b4aa28c4902669be.jpg'}
                .content_offset
                    %h2 Subtitle
                    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a imperdiet sapien. Nunc vehicula lorem neque, eu rutrum sapien posuere ut. Nunc eget ullamcorper turpis. Sed in vehicula magna, vitae eleifend velit. Donec dui turpis, viverra vitae lobortis commodo, lobortis et ex. 
                %h1
                    %span L
                    %span o
                    %span o
                    %span k
                    %span &nbsp;
                    %span a
                    %span t 
                    %span &nbsp;
                    %span t
                    %span h
                    %span i
                    %span s
                    %span &nbsp;
                    %span a
                    %span w
                    %span e
                    %span s
                    %span o
                    %span m
                    %span e
                    %br
                    %span h
                    %span e
                    %span a
                    %span d
                    %span l
                    %span i
                    %span n
                    %span e
                    %span &nbsp;
                    %span r
                    %span i
                    %span g
                    %span h
                    %span t
                    %span &nbsp;
                    %span h
                    %span e
                    %span r
                    %span e
    .pages_page
        .pages_page__inner
            .hamburger
                -(1..3).each do
                    .hamburger_part
            .control.next
                %label{:for => 'three'}
            .bg
            .footer
                <i class="fab fa-google-plus-g"></i>
                <i class="fas fa-retweet"></i>
                <i class="far fa-heart"></i>
                <i class="far fa-share-square"></i>
            .content
                .content_quote
                    %h5
                        %span.quo 
                            %i "
                        %span This is a quote
                        %span from someone
                        %span.name Jamie Coulter
                        %span.auth - Jcoulterdesign
                        %span.quo "
                .content_picture
                    %img{:src => 'https://i.pinimg.com/originals/1f/bc/f1/1fbcf1c55e839cd7b4aa28c4902669be.jpg'}
                %h1
                    %span L
                    %span o
                    %span o
                    %span k
                    %span &nbsp;
                    %span a
                    %span t 
                    %span &nbsp;
                    %span t
                    %span h
                    %span i
                    %span s
                    %span &nbsp;
                    %span a
                    %span w
                    %span e
                    %span s
                    %span o
                    %span m
                    %span e
                    %br
                    %span h
                    %span e
                    %span a
                    %span d
                    %span l
                    %span i
                    %span n
                    %span e
                    %span &nbsp;
                    %span r
                    %span i
                    %span g
                    %span h
                    %span t
                    %span &nbsp;
                    %span h
                    %span e
                    %span r
                    %span e
    .pages_page
        .pages_page__inner
            .logo Fashion
            .pagenumber 4 5
            .content
                .content_center
                    %h4 Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    %h6 Lorem ipsum dolor sit amet
            .control
                %label{:for => 'two'}
    .pages_page
        .pages_page__inner
            .hamburger
                -(1..3).each do
                    .hamburger_part
            .control.next
                %label{:for => 'four'}
            .bg
            .content_centerimage
                %img{:src => 'https://www.slrlounge.com/wp-content/uploads/2017/09/2brittany-smith-rachelbw6911-800x533.jpg'}
            .content
                .content_center.right
                    %h4 Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    %h6 Lorem ipsum dolor sit amet
            .footer
                <i class="fab fa-google-plus-g"></i>
                <i class="fas fa-retweet"></i>
                <i class="far fa-heart"></i>
                <i class="far fa-share-square"></i>
    .pages_page
        .pages_page__inner
            .logo Fashion
            .pagenumber 6 7
            .content
                .content_section
                    %h2 Super
                    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a imperdiet sapien. Nunc vehicula lorem neque, eu rutrum sapien posuere ut. Nunc eget ullamcorper turpis. Sed in vehicula magna, vitae eleifend velit. 
                .content_section
                    %h2 Awesome
                    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a imperdiet sapien. Nunc vehicula lorem neque, eu rutrum sapien posuere ut. Nunc eget ullamcorper turpis. Sed in vehicula magna, vitae eleifend velit.
                .content_section
                    %h2 Great
                    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a imperdiet sapien. Nunc vehicula lorem neque, eu rutrum sapien posuere ut. Nunc eget ullamcorper turpis. Sed in vehicula magna.
            .control
                %label{:for => 'three'}
    .pages_page
        .pages_page__inner
            .hamburger
                -(1..3).each do
                    .hamburger_part
            .bg
            .content
            .footer
                <i class="fab fa-google-plus-g"></i>
                <i class="fas fa-retweet"></i>
                <i class="far fa-heart"></i>
                <i class="far fa-share-square"></i>